
/* Default button colors for themes without SATORI Studio presets.
------------------------------------------------------ */

.fl-builder-content a.fl-button,
.fl-builder-content a.fl-button:visited {
	background: #fafafa;
	border: 1px solid #ccc;
	color: #333;
}
.fl-builder-content a.fl-button *,
.fl-builder-content a.fl-button:visited * {
	color: #333;
}